{
  "presets": [
    ["env", {
      "targets": {
        "node": 6
      },
      "debug": false
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}